# Dependencies
node_modules/

# Build output
dist/
build/

# Env files
.env
.env.local
*.env

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.venv/

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
